<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
    
        <!-- custom css file link  -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/loginStyles.css') }}">
    </head>
    
<body>

<!-- login section starts -->

    <div class="container">
        <!-- INICIO DE SESION -->
        <div class="container-form">
            <form class="sign-in" method="POST" action="{{ url_for('login') }}">
                <h2>Iniciar sesión</h2>
                <div class="social-networks">
                    <ion-icon name="logo-twitter"></ion-icon>
                    <ion-icon name="logo-instagram"></ion-icon>
                    <ion-icon name="logo-tiktok"></ion-icon>
                </div>
                <span>Use su correo y contraseña</span>
                <div class="container-input">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="text" name="email" placeholder="Email">
                </div>
                <div class="container-input">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <a href="#">¿Olvidaste tu contraseña?</a>
                <button class="button">INICIAR SESIÓN</button>
            </form>            
        </div>
        <!-- REGISTRO -->
        <div class="container-form">
            <form class="sign-up" method="POST" action="{{ url_for('register') }}">
                <h2>Registrarse</h2>
                <div class="social-networks">
                    <ion-icon name="logo-twitter"></ion-icon>
                    <ion-icon name="logo-instagram"></ion-icon>
                    <ion-icon name="logo-tiktok"></ion-icon>
                </div>
                <span>Use su correo para registrarse</span>
                <div class="container-input">
                    <ion-icon name="person-outline"></ion-icon>
                    <input type="text" name="nombre" placeholder="Nombre">
                </div>
                <div class="container-input">
                    <ion-icon name="call-outline"></ion-icon>
                    <input type="text" name="telefono" placeholder="Telefono">
                </div>
                <div class="container-input">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="text" name="correo_electronico" placeholder="Email">
                </div>
                <div class="container-input">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <button class="button">REGISTRARSE</button>
            </form>
            
        </div>
        <div class="container-welcome">
            <div class="welcome-sign-up welcome">
                <h3>¡Bienvenido!</h3>
                <p>Ingrese sus datos personales para usar las funciones del sitio, por favor</p>
                <button class="button" id="btn-sign-up">Registrarse</button>
            </div>
            <div class="welcome-sign-in welcome">
                <h3>¡Hola!</h3>
                <p>Registrese con sus datos personales para usar las funciones del sitio, por favor</p>
                <button class="button" id="btn-sign-in">Iniciar sesión</button>
            </div>
        </div>

    </div>


<!-- SCRIPTS -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<!-- custom js file link -->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

<script>
    lightGallery(document.querySelector('.gallery .lightbox'));
</script>
    
</body>
</html>